.layout {
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 0;
    color: black;
    font-size: 90px;
    width: max-content;

    animation-name: spin, depth;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 30s;
}

h3 {
    margin: 0;
    color: black;
    font-size: 90px;
    width: max-content;

    animation-name: spin, depth;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 20s;
}

.deployed-at {
    width: max-content;
    animation-name: spinReverse, depth;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 200s;
}

p {
    margin: 0;
    color: black;
    font-size: 30px;
}

a {
    color: black;
    font-size: 30px;
    margin-right: 16px;
}

a:hover {
    color: #ea0001;
}

.basic-information {
    display: flex;
    margin-bottom: 50px;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
}

.links {
    display: flex;
    margin-top: 100px;
}

@keyframes spin {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

@keyframes spinReverse {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(-180deg);
    }
}

@keyframes depth {
    0% {
        text-shadow: 0 0 black;
    }
    25% {
        text-shadow: 1px 0 black, 2px 0 black, 3px 0 black, 4px 0 black, 5px 0 black;
    }
    50% {
        text-shadow: 0 0 black;
    }
    75% {
        text-shadow: -1px 0 black, -2px 0 black, -3px 0 black, -4px 0 black, -5px 0 black;
    }
    100% {
        text-shadow: 0 0 black;
    }
  }
